/* Header Styles */

header{
    text-shadow: 3px 3px 3px black;
    padding: 80px;
    margin-top: 35px;
    margin-bottom: 35px;
}

.white-space{
    min-height: 50px;
    background-color: white;
}

#my-face{
    max-width: 300px;
    border-radius: 50%;
    box-shadow: 2px 2px 2px white,
                -1px 1px 1px white,
                1px -1px 1px white,
                -1px -1px 1px white;
}

#subtitle{
    margin-top: -5px;
    color: white;
}

#my-name{
    font-size: 350%;
    color: white;
}

#head-content{
    max-width: 800px;
}


#title{
    height: 300px;
}

.btn-header{
    margin-left: 5px;
    margin-right: 5px;
    background-color: white;
    margin: 0px 3px 0px 3px;
    font-size: 120%;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 2px 2px 2px black;
}